#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    top:50%;
    left:50%;
    position:absolute;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

    .rightAlign {
        display: block;
        text-align: center;
        font-family: initial;
        font-size: 14px;
    }
    .header {
        padding: .75rem 1.25rem;
        margin-bottom: 0px;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    }
    .mdl-tabs__tab {
        font-size: 12px;
    }
    .mdl-textfield {
      width: 100%;
    }
    /* .mdl-js-textfield{
      width:100%;
    } */
    /* new design start */
    .navbar-inverse {
    background-color: #2e3192 !important;
    border-color: #2e3192 !important;
}

.navbar-inverse .navbar-brand {
    color: #f5f5f5 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f5f5 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: #37a8c1 !important;
}

 body {
    margin-top:10px;
    background-color: #ffffff !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
table th {
    font-weight: bold;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 1px;
}
    
    .header {
        padding: .75rem 1.25rem;
        margin-bottom: 0px;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        
    }
    #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    }
    .mdl-tabs__tab {
        font-size: 10px;
    }
    .mdl-textfield {
      width: 100%;
    }

    .form-check-label{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
    }
    
    
    /* new design end */